
<div class="wrapAll clearfix">
  <div class="sidebar">
    <a href="#" class="mw-logo">
      <img class="mw-logo-icon" src="assets/wikipedia.png" alt="" aria-hidden="true" height="50" width="50">
      <span class="mw-logo-container">
        <img class="mw-logo-wordmark" alt="Wikipédia" src="assets/wikipedia-wordmark-fr.svg" style="width: 7.4375em; height: 1.125em;">
        <img class="mw-logo-tagline" alt="" src="assets/wikipedia-tagline-pt.svg" width="120" height="13" style="width: 7.5em; height: 0.8125em;">
      </span>
    </a>
    <div class="navigation">
      <ul>
        <li><a href="#">Main page</a></li>
        <li><a href="#">Contents</a></li>
        <li><a href="#">Featured content</a></li>
      </ul>
      <h3>Interaction</h3>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portal</a></li>
      </ul>
      <h3>Interaction</h3>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portal</a></li>
      </ul>
    </div>
  
  
  </div>
  <div class="mainsection">
    <div class="headerLinks">
      <span class="user">Not logged in</span> <a href="#">Talk</a> <a href="#">Contributions</a> <a href="#">Create account</a> <a href="#">Log in</a>
    </div>
    <div class="tabs clearfix">
      <div class="tabsLeft">
        <ul>
          <li><a href="#" class="active">Article</a></li>
          <li><a href="#">Talk</a></li>						
        </ul>
      </div>
      <div id="simpleSearch">
        <input type="text" name="searchInput" id="searchInput" placeholder="Search Wikipedia" size="12" />
        <div id="submitSearch"></div>
      </div>
      <div class="tabsRight">
        <ul>
          <li><a href="#" class="active">Read</a></li>
          <li><a href="#">View source</a></li>						
          <li><a href="#">View history</a></li>						
        </ul>
      </div>
    
    </div>
    <div class="article">
      <h1>Dia Mundial da Flor de Carvalho</h1>
      <p class="siteSub">De uma enciclopédia livre</p>
      <p class="roleNote">Este artigo é sobre uma data especial. Continue lendo</p>
  
      <div class="articleRight">
        <div class="articleRightInner">
          <img src="" alt="" />
        </div>
      </div>
      <p>O <strong>Dia Mundial da Flor de Carvalho</strong>, celebrado anualmente em 13 de abril, é uma data dedicada à apreciação e conscientização sobre as <strong>flores de carvalho</strong> e sua importância ecológica e cultural.</p>
      <p>A data foi estabelecida para promover a conservação das árvores de carvalho, reconhecendo a beleza e a biodiversidade que as flores de carvalho trazem aos ecossistemas naturais.</p>
      <p>Destaca a necessidade de proteção das árvores de carvalho, que desempenham um papel vital nos ecossistemas florestais, oferecendo habitat para a vida selvagem e contribuindo para a biodiversidade.</p>
      <p>Inclui atividades como plantio de carvalhos, workshops educativos, e eventos culturais, visando aumentar a consciência sobre a importância das árvores de carvalho e suas flores.</p>
      <div class="contentsPanel">
        <div class="contentsHeader">Contents</div>
        <ul>
          <li>
            <span>1</span><a href="#">História</a>
            <ul>
              <li><span>1.1</span><a href="#">Dia que conheci o Neto</a> </li>
              <li><span>1.2</span><a href="#">O melhor guarná do mundo sempre aberto</a> </li>
              <li><span>1.3</span><a href="#">Aventuras em uma biz na cidade do citrus</a></li>
              <li><span>1.4</span><a href="#">Banho de cheddar Manzo`s</a></li>
              <li><span>1.5</span><a href="#">Críticas ao Kung Fu Panda (ou metade)</a></li>							
              <li><span>1.6</span><a href="#">Massinhas de modelar bem esculpidas </a></li>							
              <li><span>1.7</span><a href="#">Experimentando marmelada de pupunhas</a></li>							
            </ul>
          </li>
          <li><span>2</span><a href="#">Quando perdi no treino de pernas</a></li>
          <li><span>3</span><a href="#">Fã ou hater ?</a></li>
          <li><span>4</span><a href="#">O líder mais perto é o da 15 com certeza</a></li>
          <li><span>5</span><a href="#">Um rato no meu pé</a></li>
        </ul>
      </div>
      <h2>Sobre</h2>
      <h3>Fatos Curiosos</h3>
      <p>Ao longo da história, 13 de abril tem sido uma data marcada por diversos eventos importantes. Por exemplo, em 1970, foi o dia da famosa expressão "Houston, temos um problema", sinalizando o início da crise da missão Apollo 13. </p>
      <p>Em 13 de abril de 1742, ocorreu a estreia do oratório "Messias" de George Frideric Handel em Dublin, Irlanda. Esta obra, que se tornou uma das peças mais famosas e frequentemente executadas na música coral ocidental, teve sua primeira apresentação em um concerto de caridade, e a recepção foi tão positiva que Handel foi convidado a apresentar "Messias" várias vezes após a estreia.</p>
      <p>Em 13 de abril de 1964, Sidney Poitier se tornou o primeiro homem negro a ganhar o Oscar de Melhor Ator por seu papel em "Lilies of the Field" (1963). Este evento foi um marco significativo na história do cinema, não apenas pelo reconhecimento do talento excepcional de Poitier, mas também por sinalizar um avanço nas questões de representação racial e diversidade em Hollywood.</p>
      <h3>Veganos</h3>
      <p>Abril é um mês significativo para os veganos e entusiastas de um estilo de vida baseado em plantas devido à celebração do Dia da Terra em 22 de abril. Este dia é frequentemente marcado por eventos e campanhas que promovem a sustentabilidade, a proteção ambiental e os benefícios de dietas livres de produtos animais. Veganos ao redor do mundo usam esta ocasião para destacar como a escolha de alimentos à base de plantas pode contribuir positivamente para reduzir o impacto ambiental e promover um planeta mais saudável.</p>
      <p>Pro no rebum timeam necessitatibus, et mnesarchum quaerendum has. Duo molestie interesset at. Vel ad legere populo. Sed ne saepe doming perpetua. Omnis iuvaret volumus an duo, qui duis audiam fabellas in.</p>
      <h2>Quase uma coincidência</h2>
      <p>Abril é um mês marcante para a arte, especialmente em 15 de abril de 1452, quando nasceu Leonardo da Vinci, um dos artistas mais renomados do Renascimento. Sua contribuição para o mundo da arte, ciência e inovação permanece inigualável, com obras icônicas como "Mona Lisa" e "A Última Ceia". Da Vinci exemplifica a conexão profunda entre arte, ciência e exploração, marcando abril como um mês de celebração de sua genialidade e impacto duradouro na cultura mundial.</p>
      <p>É curioso observar que tanto Phoebe quanto Joey, personagens de "Friends", têm signos do elemento fogo (Leão e Leão, respectivamente), assim como o período de Áries, que abrange parte de abril. Essa coincidência elementar pode refletir uma conexão interessante, visto que Áries, Leão e Sagitário compartilham traços como entusiasmo e dinamismo, qualidades que ambos os personagens demonstram na série. Esse paralelo entre os signos e os personagens pode adicionar uma camada extra de profundidade à sua compreensão e apreciação da série.</p>
      <div class="lavenderBox">
        <div class="header">É isto</div>
        <div class="subtitle linklist"><a href="#">Feliz</a> <a href="#">Aniversário</a>  </div>
        <div class="linklist">
          <a href="#">Espero </a> <a href="#">que </a> <a href="#">você </a> <a href="#">tenha </a> <a href="#">um </a> <a href="#">excelente </a> <a href="#">dia  </a> 
        </div>
        
        <div class="subtitle">Flora Carvalho</div>
      </div>
      
      <div class="categories">
        <a href="#">Saiba mais </a> <a href="#">Saiba menos </a> <a href="#">Saiba mais ou menos </a>
      </div>
      
    </div>
    <div class="pagefooter">
      <div class="footerlinks">
        <a href="#">Privacy policy</a> <a href="#">About</a> <a href="#">Terms and conditions</a> <a href="#">Cookie statement</a> <a href="#">Developers</a>
      </div>
    </div>
  
  
  </div>		
  </div>
  <router-outlet></router-outlet>
  